.counter {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 1rem;
}
  
.header-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header-counter > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-counter p {
    color: #4EA8DE;
    font-size: 14px;
    font-weight: 700;
}

.counter-purple {
    color: #8284FA !important;
}

.header-counter span {
    background: #333333;
    color: #F2F2F2;
    padding: 3px 9px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}